<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/output.css">
    <title>This is Homepage</title>
</head>
<body>
    <h1 class="text-slate-100 bg-slate-700">Welcome to Homepage </h1>
</body>
</html>